{% extends 'base1.html' %}
{% block content %}
{% load static %}
<div class="about-area2 gray-bg pt-60 pb-60">
        <div class="container">
                <div class="row">
                <div class="col-lg-12">
                    <div class="whats-news-wrapper">
                        <!-- Heading & Nav Button -->
                            <div class="row justify-content-between align-items-end mb-15">
                                <div class="col-xl-12">
                                    <div class="section-tittle mb-30">
                                        <form method="get" action="{% url 'search_news' %}">
                                            {% csrf_token %}
                                           
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label" style="font-weight: bolder;">Search News...</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="query" placeholder="Search news..." value="{{ query }}" class="form-control" required="">
                                                </div>
                                            </div>
                            
                            
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    <button type="submit" class="btn btn-dark">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                              
                            </div>
                            {% if messages %}
                {% for message in messages %}
                 {% if message.tags == 'error' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                 </button>
                  </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                   {% if messages %}
                {% for message in messages %}
                 {% if message.tags == 'info' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                 </button>
                  </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                            <!-- Tab content -->
                            <div class="row">
                                <div class="col-12">
                                    <!-- Nav Card -->
                                    <div class="tab-content" id="nav-tabContent">
                                        <!-- card one -->
                                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">       
                                            <div class="row">
                                                {% if searchnews %}
                                                
                                                {% for i in searchnews %}
                                                <div class="col-xl-6 col-lg-6 col-md-6">
                                                    <div class="whats-news-single mb-40 mb-40">
                                                        <div class="whates-img">
                                                            <img src="{{i.postimage.url}}" alt="">
                                                        </div>
                                                        <div class="whates-caption whates-caption2">
                                                            <h4><a href="{% url 'view_single_news' i.id %}">{{i.posttitle}}</a></h4>
                                                            <span>{{i.posted_date}}</span>
                                                            <p>{{i.postdetails|slice:":300"}}.</p>
                                                        </div>
                                                    </div>
                                                </div>{% endfor %}
                                                
                                               
                                            </div>
                                        </div>
                                        <!-- Card two -->
                                        
                                    </div>
                                <!-- End Nav Card -->
                                </div>
                            </div>
                            <div class="pagination">
                                <span class="step-links">
                                    {% if searchnews.has_previous %}
                                        <a href="?query={{ query }}&page=1">&laquo; first</a>
                                        <a href="?query={{ query }}&page={{ searchnews.previous_page_number }}">previous</a>
                                    {% endif %}
                        
                                    <span class="current">
                                        Page {{ searchnews.number }} of {{ searchnews.paginator.num_pages }}.
                                    </span>
                        
                                    {% if searchnews.has_next %}
                                        <a href="?query={{ query }}&page={{ searchnews.next_page_number }}">next</a>
                                        <a href="?query={{ query }}&page={{ searchnews.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                            {% else %}
                          
                            {% endif %}
                    </div>
                    </div>
                    
                </div>
        </div>
    </div>
    <!-- About US End -->
    <!--Start pagination -->
    
  {% endblock %}
    <!-- End pagination  -->